$primary: #181818;
$secondary: #202020;
$black: #000;
$white: #fff;
$red: #CD251A;
// $red: tomato;
$light-blue: #779af3;
$blue: #2A5FE7;
$bg: #0d0d0d;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;

$width-sidebar: 300px;

$color-text: #d2d2d2;
$color-data: #828282;

$tablet-bp: 991px;
$mobile-bp: 700px;