.add-post {
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  background-color: $secondary;
  box-shadow: 0 15px 25px rgba($color: $black, $alpha: 0.45);
  border-radius: 5px;

  @include breakpoint($mobile-bp){
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
  
  &__form {
    display: flex;
    align-items: center;
  }

  &__textarea {
    display: block;
    flex-grow: 1;
    width: 70%;
    height: 26px;
    overflow: hidden;
    font-size: 1.5rem;
    color: $color-text;
    font-family: inherit;
    outline: none;
    resize: none;

    &::placeholder {
      color: #d2d2d2;
    }
  }
  &__file {
    input {
      display: none;
    }
    &:hover{
      background-color: darken($color: #ebebeb, $amount: 5%);
    }
  }
}

.add-post__form-actions{
  width: 12rem;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  // width: 30%;

  @include breakpoint($mobile-bp){
    width: 9rem;
  }
}

.add-post__file,
.add-post__send {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  cursor: pointer;

  @include breakpoint($mobile-bp){
    width: 3.4rem;
    height: 3.4rem;

  }
}
.add-post__file {
  margin-right: 1.5rem;
  background: #ebebeb url(../images/icon/add-photo.svg) center no-repeat;

  @include breakpoint($mobile-bp){
    background-size: 1.8rem;
  }
}
.add-post__send {
  font-size: 0;
  color: transparent;
  background-color: $blue;
  background: $blue url(../images/icon/send.svg) center no-repeat;
    &:hover{
      background-color: darken($color: $blue, $amount: 5%);
    }
  img {
    padding-left: 5px;
  }
  @include breakpoint($mobile-bp){
    background-size: 1.5rem;
  }
}
