.nav{
  @include breakpoint($tablet-bp) {
    display: none;
  }

  &--mobile{
    display: none;
    margin: 3rem 0;

    @include breakpoint($tablet-bp){
      display: block;
      margin-bottom: 2.0rem;
    }
  }

  &__list{
    display: flex;
    @include breakpoint($tablet-bp){
      flex-direction: column;
    }
  }
  &__item{
    position: relative;
    &:hover{
      .nav__link{
        background-color: $blue;
      }
      > .subnav{
        display: block;
      }
    }
    @include breakpoint($tablet-bp){
      &:hover{
        .nav__link{
          background: none;
          color: $blue-link;
        }
      }
    }
    @include breakpoint($mobile-bp){
      padding: 0 0.8rem;
    }
  }
  &__link{
    display: block;
    padding: 1.35rem;
    font-size: 1.1rem;
    line-height: 1.2;
    text-transform: uppercase;
    color:$white;
    transition: background-color .2s linear;
    
    @include breakpoint($tablet-bp){
      text-transform: capitalize;
    }

    @include breakpoint($mobile-bp){
      padding: 1.0rem 0.8rem;
    }

    &.has-subnav{
      position: relative;
      padding-right: 3.5rem;
      &::after{
        content: "";
        display: block;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: $white transparent transparent transparent;
        position: absolute;
        top: 48%;
        right: 1.5rem;
      }
      @include breakpoint($tablet-bp){
        &::after{
          // left: 5rem;
          right: 14.5rem;
        }
      }
      @include breakpoint($mobile-bp){
        &::after{
          display: none;
        }
      }
    }
    @include breakpoint($tablet-bp){
      font-size: 1.6rem;
    }
  }
}