.subnav{
  display: none;
  width: 16.5rem;
  background-color: $blue;
  padding-bottom: 0.7rem;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 6px 8px rgba($color: $black, $alpha: .2);
  
  position: absolute;
  top: 100%;
  left: 0;
  &__item{
    padding: 0.45rem 1.2rem;
  }
  &__link{
    display: block;
    font-size: 1.2rem;
    color: $white;
    transition: background-color 0.3s ease-in-out;
    &:hover{
      background-color: darken($color: $blue, $amount: 5%)
    }
  }
}