<header class="header">
  <div class="header__left">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link has-subnav" href="#">Articles</a>
          <ul class="subnav">
            <li class="subnav__item">
              <a class="subnav__link" href="#">Creating websites</a>
            </li>
            <li class="subnav__item">
              <a class="subnav__link" href="#">Internet marketing</a>
            </li>
            <li class="subnav__item">
              <a class="subnav__link" href="#">Video Promotion</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">About Me</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Advertisement</a>
        </li>
      </ul>
    </nav>
    <button class="burger" type="button">
      <span>open navigation</span>
    </button>
  </div>
  <div class="header__rigth">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="profile.html">Profile</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Exit</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="search.html" method="get">
      <input class="search__input" type="text" placeholder="Blog Search">
    </form>
  </div>
</header>
